<div class="my-10 flex flex-col md:flex-row md:gap-8">
  <a href={{ url_for("dashboard_recipe_get", recipe_id=recipe.id)}}>
    <img
      class="sm:w-full md:w-1/2 h-96 object-fit rounded-xl bg-orange-50"
      alt="recipe cover image"
      src="{{recipe.image}}"
    />
  </a>
  <div class="flex flex-col w-full justify-between mt-8 md:mt-0 md:w-1/2">
    <div>
      <a href={{ url_for("dashboard_recipe_get", recipe_id=recipe.id)}}>
        <div class="text-2xl mb-7 font-extrabold">{{recipe.title}}</div>
      </a>
      <div class="text-xl slate-500 mb-5">{{recipe.description}}</div>
    </div>
    <div>
      <div class="text-sm">Servings: {{recipe.servings}}</div>
      <div class="text-sm">Estimated time: {{recipe.estimated_time}}</div>
    </div>
  </div>
</div>
