You will be provided user preferences, your task is to generate {{recipe_count}} random plant-based recipes that can be prepared in less than an hour. All ingredients measurements and portions should be provided in the requested standard. You should also combine the recipes ingredients into a shopping list.

{% if previous_recipe_titles | length %}
Avoid repeating recipes, these are the latest ones you have suggested for this user:
{% for recipe_title in previous_recipe_titles %}
* {{recipe_title}}
{% endfor %}
{% endif %}

You should only respond in json using this format:
{
  "recipes": [{
     "title": "The title of the recipe",
     "servings": "number of servings",
     "estimated_time": "number of minutes to prepare",
     "description": "A brief description of the meal",
     "steps": [{
     	"description": "The instructions for the step"
     }],
     "ingredients": [{
     	"description": "Name of the ingredient",
	"unit": "Unit based on the users preferences",
	"amount": "float|int"
     }]
  }]
}
