<section>
  <h2>Shopping List:</h2>
  <h5>Sent at: {{leaflet.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</h5>
  </br>
  <ul>
    {% for category, ingredients in leaflet.shopping_list().items() %}
    <li>{{category}}</li>
    <br/>
      <ul>
      {% for ingredient in ingredients %}
      <div>
        <input type="checkbox" name='{{ingredient["name"]}}' value='{{ingredient["name"]}}: {{ingredient["quantity"]}} {{ingredient["unit"]}}'/>
        <label for='{{ingredient["name"]}}'>{{ingredient["name"]}}: {{ingredient["quantity"]}} {{ingredient["unit"]}}</label>
      </div>
      {% endfor %}
      </ul>
    <br/>
    {% endfor %}
  </ul>
  </br>
</section>
<br/>
<hr/>
<br/>
<br/>
<section>
  <h2>Recipes:</h2>
  <ul>
    {% for recipe in leaflet.recipes %}
    </br>
    <li>
      <a href="{{ recipe.canonical_url }}"><h3>{{recipe.title}}</h3></a>
      </br>
      <p>cooking time: {{ recipe.total_time }}</p>
      </br>
      {% for instruction in recipe.instructions.split("\n") %}
      <p>{{instruction}}</p>
      </br>
      {% endfor %}
    </li>
    </br>
    {% endfor %}
    <ul>
  </ul>
</section>
