{% extends "layout.html" %} {% block title %}{{ recipe.title }}{% endblock %} {%
block content %}
<section>{% include "partials/recipe_summary.html" %}</section>
<section class="my-4">
  <h2 class="font-bold text-xl mb-4">Ingredients</h2>
  <ul class="list-disc">
    {% for ingredient in recipe.ingredients %}
    <li>{{ingredient.description}}: {{ingredient.amount}} {{ingredient.unit}}</li>
    {% endfor %}
  </ul>
</section>
<section class="my-4">
  <h2 class="font-bold text-xl mb-4">Steps</h2>
  <ol class="list-decimal">
  {% for step in recipe.steps %}
  <li class="my-2">{{step.description}}</li>
  {% endfor %}
  </ol>
</section>
{% endblock %}
