{% extends "layout.html" %}
{% from "field_validation.html" import field_validation %}
{% block content %}
<header><h3>hi {{user.email}}</h3></header>
<br />
<form method="post">
  {{ field_validation("recipes_per_week", errors) }}
  <label for="recipes_per_week">Recipes per week:</label><br>
  <input type="number" id="recipes_per_week" name="recipes_per_week" value={{user.recipes_per_week}}><br>
  {{ field_validation("serving", errors) }}
  <label for="serving">Servings:</label><br>
  <input type="number" id="serving" name="serving"  value={{user.serving}}>
  <button>Save settings</button>
</form>
<br />
<hr />
<br />
<br />
<form action="{{ url_for('user.leaflet_new', user_id=user.id) }}" method="post">
<button>Request a new leaflet</button>
</form>



Previous leaflets:

<ul>
{% for leaflet in leaflets %}
<li>{{leaflet}}</li>
{% endfor %}
</ul>
{% endblock %}
